<div id="index" v-cloak>

  <h1>TODO: Implement this page Order.</h1>
  <p>(See also <em>assets/styles/pages/order/index.less</em>, <em>assets/js/pages/order/index.page.js</em>, and <em>api/controllers/order/view-index.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
