<!-- views/pages/order/shoppingbasket.ejs -->
<div id="app" class="container">
    <h2>Shopping Basket</h2>
    <ul>
        <li v-for="(item, index) in basket" :key="index">
            {{ item.name }} - {{ item.price }}
            <!-- Add a button to remove item from the basket -->
            <button @click="removeItem(index)">Remove</button>
        </li>
    </ul>
    <p v-if="basket.length === 0">Your basket is empty.</p>
</div>

<script src="https://unpkg.com/vue@next"></script>
<script>
  const { createApp } = Vue;
  createApp({
    data() {
      return {
        basket: []
      };
    },
    methods: {
      removeItem(index) {
        this.basket.splice(index, 1);
        // Here you can also make an API call to update the server-side session
      }
    },
    mounted() {
      // Here you can load the initial basket data from the server or session
      // For example, using a fetch request or another method
    }
  }).mount('#app');
</script>
