<div id="edit-profile" v-cloak>
  <account-notification-banner></account-notification-banner>
  <div class="container pt-5 pb-5">
    <h1>Persönliche Daten aktualisieren</h1>
    <hr/>
    <form action="/updateProfile" method="POST">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="firstName">Vorname</label>
            <input class="form-control" id="firstName" name="firstName" type="text"  placeholder="Max" autocomplete="firstName" focus-first value="<%= req.me.firstName %>">
            <div class="invalid-feedback">Bitte gebe deinen Vornamen ein.</div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="lastName">Nachname</label>
            <input class="form-control" id="lastName" name="lastName" type="text"  placeholder="Mustermann" autocomplete="lastName" focus-first value="<%= req.me.lastName %>">
            <div class="invalid-feedback">Bitte gebe deinen Nachnamen ein.</div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="email-address">E-Mail Adresse</label>
            <input class="form-control" id="email-address" name="emailAddress" type="email" placeholder="sturgeon@example.com" autocomplete="email" value="<%= req.me.emailAddress %>">
            <div class="invalid-feedback">Bitte gebe eine gültige E-Mail Adresse ein.</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          Es gibt bereits ein Konto mit dieser E-Mail-Adresse.
        </div>
        <div class="col-sm-6">
          <div class="form-group text-right">
            <a class="green-button" href="/account">Abbrechen</a>
            <button type="submit"  class="green-button">Änderungen speichern</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
