<div id="signup">
  <div class="container-fluid pt-5 pb-5">
    <h1 class="text-center">Account erstellen</h1>
    <div style="max-width: 450px;" class="mx-auto" >
      <p class="text-center">Bestelle noch heute die besten Produkte .</p>
      <hr/>
      <form action="/signup" method="POST">
        <div class="form-group">
          <label for="first-name">Vorname</label>
          <input class="form-control" id="firstName" name="firstName" type="text"  placeholder="Max " autocomplete="firstName" focus-first>
          <div class="invalid-feedback">Bitte geben Sie Ihren Vornamen ein.</div>
        </div>
        <div class="form-group">
          <label for="last-name">Nachname</label>
          <input class="form-control" id="lastName" name="lastName" type="text"  placeholder="Mustermann" autocomplete="lastName">
          <div class="invalid-feedback">Bitte geben Sie Ihren Nachnamen ein.</div>
        </div>
        <div class="form-group">
          <label for="email-address">E-Mail Adresse</label>
          <input class="form-control" id="emaila-address" name="emailAddress" type="email"  placeholder="Mustermann@example.com" autocomplete="email">
          <div class="invalid-feedback">Bitte geben Sie eine gültige E-Mail Adresse ein.</div>
        </div>
        <div class="form-group">
          <label for="password">Passwort</label>
          <input class="form-control" id="password" name="password" type="password"  placeholder="••••••••" autocomplete="new-password">
          <div class="invalid-feedback">Bitte gebe ein Passwort ein.</div>
        </div>
        <div class="form-group">
          <label for="confirm-password">Passwort bestätigen</label>
          <input class="form-control" id="confirm-password" name="confirmPassword" type="password"  placeholder="••••••••" autocomplete="new-password">
          <div class="invalid-feedback">Deine Passwörter stimmen nicht überein.</div>
        </div>
        <div class="form-group form-check">
          <input class="form-check-input" id="terms-agreement" name="termsAgreement" type="checkbox" v-model="formData.agreed">
          <label for="terms-agreement" class="form-check-label">Ich habe die <a target="_blank" href="/terms">AGBs</a> gelesen und aktzeptiere diese.</label>
        </div>
        <span>It looks like there's already an account with your email address. If you forgot your password, you can recover it <a href="/account/password">here</a>.</span>
        <div class="form-group">
          <button type="submit" class="custom-button1">Account erstellen</button>
        </div>
      </form>
      <p class="text-center">Du hast bereits einen Account? <a href="/login">Login</a></p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
