<div id="signup">
  <div class="container-fluid pt-5 pb-5">
    <h1 class="text-center">Account erstellen</h1>
    <div style="max-width: 450px;" class="mx-auto" >
      <p class="text-center">Bestelle noch heute die besten Produkte .</p>
      <hr/>
      <form action="/signup" id="signupForm" method="POST">
        <div class="form-group">
          <label for="first-name">Vorname</label>
          <input class="form-control" id="firstName" name="firstName" type="text"  required placeholder="Max " autocomplete="firstName" focus-first>
          <div class="invalid-feedback">Bitte geben Sie Ihren Vornamen ein.</div>
        </div>
        <div class="form-group">
          <label for="last-name">Nachname</label>
          <input class="form-control" id="lastName" name="lastName" type="text"  required placeholder="Mustermann" autocomplete="lastName">
          <div class="invalid-feedback">Bitte geben Sie Ihren Nachnamen ein.</div>
        </div>
        <div class="form-group">
          <label for="email-address">E-Mail Adresse</label>
          <input class="form-control" id="email-address" name="emailAddress" type="email"  required placeholder="Mustermann@example.com" autocomplete="email">
          <div class="invalid-feedback">Bitte geben Sie eine gültige E-Mail Adresse ein.</div>
        </div>
        <div class="form-group">
          <label for="password">Passwort</label>
          <input class="form-control" id="password" name="password" type="password" required placeholder="••••••••" autocomplete="new-password">
          <div class="invalid-feedback">Bitte gebe ein Passwort ein.</div>
          <ul id="passwordCriteria">
            <li id="criteriaLengt">Mindestens 8 Zeichen</li>
            <li id="criteriaUpper">Mindestens ein Großbuchstabe</li>
            <li id="criteriaLower">Mindestens ein Kleinbuchstabe</li>
            <li id="criteriaSpecial">Mindestens ein Sonderzeichen</li>
        </ul>
        </div>
        <div class="form-group">
          <label for="confirm-password">Passwort bestätigen</label>
          <input class="form-control" id="confirm-password" name="confirmPassword" type="password"  required placeholder="••••••••" autocomplete="new-password">
          <div class="invalid-feedback">Deine Passwörter stimmen nicht überein.</div>
        </div>
        <div class="form-group form-check">
          <input class="form-check-input" required id="terms-agreement" name="termsAgreement" type="checkbox" v-model="formData.agreed">
          <label for="terms-agreement" class="form-check-label">Ich habe die <a target="_blank" href="/terms">AGBs</a> gelesen und aktzeptiere diese.</label>
        </div>
        <div class="form-group form-check">
          <input class="form-check-input" id="is-vendor" name="isVendor" type="checkbox" v-model="formData.isVendor">
          <label for="is-vendor" class="form-check-label">Ich will einen Anbieter Account erstellen.</label>
        </div>
     <!--   <span>Es sieht so aus, als gäbe es bereits ein Konto mit Ihrer E-Mail-Adresse. Wenn Sie Ihr Passwort vergessen haben, können Sie es  <a href="/account/password">hier</a> wiederherstellen.</span> -->
        <div class="form-group">
          <button type="submit" id="submitBtn" class="custom-button1" >Account erstellen</button>
        </div>
      </form>
      <p class="text-center">Du hast bereits einen Account? <a href="/login">Login</a></p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var passwordInput = document.getElementById('password');
    var submitBtn = document.getElementById('submitBtn');
  var passwordCriteria = {
    length: false,
    upperCase: false,
    lowerCase: false,
    specialChar: false,
  };


  passwordInput.addEventListener('input', function() {
    var password = passwordInput.value;
    passwordCriteria.length = password.length >= 8;
    passwordCriteria.upperCase = /[A-Z]/.test(password);
    passwordCriteria.lowerCase = /[a-z]/.test(password);
    passwordCriteria.specialChar = /[\W_]/.test(password);


    // Aktualisierung der Kriterienanzeige
    document.getElementById('criteriaLength').classList.toggle('text-success', passwordCriteria.length);
    document.getElementById('criteriaUpper').classList.toggle('text-success', passwordCriteria.upperCase);
    document.getElementById('criteriaLower').classList.toggle('text-success', passwordCriteria.lowerCase);
    document.getElementById('criteriaSpecial').classList.toggle('text-success', passwordCriteria.specialChar);

    // Aktivieren/Deaktivieren des Submit-Buttons
    var canRegister = Object.values(passwordCriteria).every(c => c);
    submitBtn.disabled = !canRegister;
  });
  var form = document.getElementById('signupForm');
  form.addEventListener('submit', function(event) {
    event.preventDefault();

    if (Object.values(passwordCriteria).every(c => c)) {
      var formData = new FormData(this);
      console.log(formData.toString())
      fetch('/signup', {
        method: 'POST',
        body: formData
      })
      .then(response => {
        if(response.status === 200){
          console.log('Erfolg:');
          window.location.href = '/';
        }
      })
      .catch(error => {
        console.error('Fehler beim Senden des Formulars:', error);
      });
    } else {
      alert('Bitte überprüfen Sie Ihre Eingaben');
    }
  });
});
</script>
