.image-container {
  position: relative;
  width: 100%;
}

.responsive-image {
  width: 100%;
  height: auto;
  display: block;
}

.centered-button {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-below-banner {
  font-size: 16px;
  color: #333;
  padding: 20px;
  background: #f9f9f9;
  margin-top: 20px;
  text-align: center;
}
.show-more-button {
  backface-visibility: hidden;
  color: blue;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.show-more-button:checked{
  border: none;
}


.button-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 20px;
}

.grid-item {
  display: flex;
  justify-content: center;
}


.custom-button {
  background-color: #008000;
  color: white;
  padding: 20px 30px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  width: 60%;
  transition: background-color 0.3s ease;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
}



.custom-button:hover {
  background-color: #006600;
}

.slogan {
  color: white;
  display: block;
  text-decoration: underline;
  margin-top: 10px;
}


.product-header {
  font-size: 24px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #333;
}

.image-row {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap as needed */
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
}


.image-container {
  text-align: center; /* Centers the text below the image */
  width: calc(25% - 20px); /* Same width calculation as before */
  max-width: 100%;
  margin-bottom: 20px; /* Add some space between the images */

}

.custom-image {
  width: 100%; /* This makes the image take up the full width of its container */
  height: 200px;
  object-fit: cover;
}

.image-description {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}



.cto-buttons-bottom{
  background-color: #008000;
  color: white;
  padding: 20px 30px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  width: 30%;
  transition: background-color 0.3s ease;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
}

.cto-buttons-bottom:hover {
  background-color: #006600;
  color: white;
}

.button-row {
  display: flex;
  align-items: center;
  padding: 20px 0;
  justify-content: space-evenly;
}

.toggle-link {
  text-decoration: underline;
  cursor: pointer; /* Ändert den Cursor, um anzuzeigen, dass es klickbar ist */
}



@media (max-width: 600px) {
  .button-grid {
    grid-template-columns: 1fr; /* 1 column in mobile screens */
  }
  .image-row {
    flex-direction: column; /* Stack items vertically on smaller screens */
  }

  .image-container {
    width: calc(80% - 20px); /* Adjust for 4x1 layout in mobile screens */
  }

  .button-row {
    flex-direction: column;
  }
  .cto-buttons-bottom {
    width: 60%; /* Increase the width on smaller screens */
    margin-bottom: 10px; /* Add some space between the buttons */
  }

}


