.fixed-logo {
  min-height: 20%;
  min-width: 18%;
  cursor: pointer;
  display: block; /* Makes the image a block-level element to react to width and height properly */
  margin: 0 auto; /* Center the image if needed */
}

@media (max-width: 768px) {
  .hide-on-small {
    display: none;
  }
  .fixed-logo {
    min-height: 60%;
    width: 55%; /* adjust as needed */
    margin-left: 0;
  }
  .icons-margin{
    margin: 3px;
  }
  .burger-size{
    font-size: larger;
  }

}

footer{
  margin-top: auto;
}

body, html{
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.green-button {
  border-width: 3px;
  border-style: solid;
  border-color: #85A60F;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  color: #85A60F;
  background-color: white;

}

.green-button:hover {
  background-color: #85A60F;
  color: white;
}
