.fixed-logo {
  min-height: 30%;
  min-width: 18%;
  cursor: pointer;
  display: block; /* Makes the image a block-level element to react to width and height properly */
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  .navbar-brand {
    flex-grow: 1; /* Allow the brand/logo to grow and push other elements */
  }
  .hide-on-small {
    display: none;
  }
  .fixed-logo {
    min-height: 60%;
    width: 55%; /* adjust as needed */
    margin-left: auto;
    margin-right: auto;
  }
  .icons-margin{
    margin: 3px;
  }
  .burger-size{
    font-size: larger;
  }

}

footer{
  margin-top: auto;
}

body, html{
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

