<div id="homepage">
    <div >
        <img class="responsive-image" alt="fvfBanner" src="/images/fvfBanner.png"/>
    </div>
    <div class="button-row">
        <button class="cto-buttons-bottom">Jetzt Bestellen</button>
    </div>
    <div class="text-below-banner">
        Willkommen bei FrischVomFeld, Ihrer Online-Plattform für frische, lokal produzierte Lebensmittel direkt von den Erzeugern aus Ihrer Region. Entdecken Sie ein vielfältiges Angebot an frischen Produkten, von Obst und Gemüse bis hin zu Fleisch, Milchprodukten und handwerklichen Erzeugnissen. Unsere Mission ist es, eine direkte Verbindung zwischen lokalen Bauern, Lebensmittelproduzenten und Konsumenten herzustellen, um die lokale Wirtschaft zu fördern und Ihnen eine gesunde, nachhaltige und bequeme Einkaufsalternative zu bieten. Seien Sie Teil einer Bewegung, die sich für lokal produzierte Lebensmittel, nachhaltige Landwirtschaft und eine stärkere Verbindung zwischen Produzenten und Konsumenten einsetzt. Entdecken Sie die Vielfalt der lokalen Lebensmittelproduktion und genießen Sie die hochwertigen Produkte, die unsere Region zu bieten hat. Registrieren Sie sich jetzt, um den Geschmack von FrischVomFeld zu erleben!
        Auf FrischVomFeld können Sie:
        Die Frische und Qualität der lokalen Produkte genießen, die mit Leidenschaft und Sorgfalt hergestellt werden.
        Die Geschichten und Menschen hinter den Produkten kennenlernen und die lokale Lebensmittelproduktion unterstützen.
        Bequem von zu Hause aus bestellen und Ihre frischen Produkte direkt an Ihre Haustür geliefert bekommen.
    </div>
    <div class="button-grid">
        <div class="grid-item">
            <button class="custom-button">
                Obst<br>
                <span class="slogan">Jetzt bestellen</span>
            </button>
        </div>
        <div class="grid-item">
            <button class="custom-button">
                Gemüse<br>
                <span class="slogan">Jetzt bestellen</span>
            </button>
        </div>
        <div class="grid-item">
            <button class="custom-button">
                Milchprodukte<br>
                <span class="slogan">Jetzt bestellen</span>
            </button>
        </div>
        <div class="grid-item">
            <button class="custom-button">
                Fleisch & Wurst<br>
                <span class="slogan">Jetzt bestellen</span>
            </button>
        </div>
    </div>
    <div>
        <h2 class="product-header">Beliebte Produkte</h2>
    </div>
    <div class="image-row">
        <div class="image-container">
            <img src="/images/img_potato.jpg" alt="Potato" class="custom-image">
            <p class="image-description">Kartoffeln</p>
        </div>
        <div class="image-container">
            <img src="/images/img_apple.jpg" alt="Apple" class="custom-image">
            <p class="image-description">Äpfel</p>
        </div>
        <div class="image-container">
            <img src="/images/img_meat.png" alt="Meat" class="custom-image">
            <p class="image-description">Tomahawk</p>
        </div>
    </div>

    <div class="button-row">
        <button class="cto-buttons-bottom">Anbieter werden</button>
    </div>




</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>

