<div id="homepage">
            <!-- Code nach dem Performance Test-->
    <div>
        <img
            srcset="/images/fvfBanner_320.webp 320w,
                    /images/fvfBanner_640.webp 640w,
                    /images/fvfBanner_1024.webp 1024w"
            sizes="(max-width: 320px) 320px,
                   (max-width: 640px) 640px,
                   (max-width: 1024px) 1024px"
            src="/images/fvfBanner_640.webp"
            alt="Idyllische ländliche Landschaft mit einem Korb voller Äpfel und Brot im Vordergrund, goldenen Weizenfeldern und Bauernhäusern inmitten üppiger Grünflächen unter einem sanften, warmen Himmel."
            class="responsive-image"/>
    </div>
    <div class="button-row">
        <% if(!req.me) { %>
            <a class="btn btn-primary cto-buttons-bottom" href="/login">Jetzt bestellen</a>
        <% } else if(!req.me.isVendor) { %>
            <a class="btn btn-primary cto-buttons-bottom" href="/product">Jetzt bestellen</a>
        <% } %>

    </div>

    <div id="textToShow" class="clickable-text">
        <p>
            Willkommen bei FrischVomFeld, Ihrer Online-Plattform für frische, lokal produzierte Lebensmittel direkt von den Erzeugern aus Ihrer Region. Entdecken Sie ein vielfältiges Angebot an frischen Produkten, von Obst und Gemüse bis hin zu Fleisch, Milchprodukten und handwerklichen Erzeugnissen.
          <span id="additionalText" style="display: none;">
              Unsere Mission ist es, eine direkte Verbindung zwischen lokalen Bauern, Lebensmittelproduzenten und Konsumenten herzustellen, um die lokale Wirtschaft zu fördern und Ihnen eine gesunde, nachhaltige und bequeme Einkaufsalternative zu bieten.
              Seien Sie Teil einer Bewegung, die sich für lokal produzierte Lebensmittel, nachhaltige Landwirtschaft und eine stärkere Verbindung zwischen Produzenten und Konsumenten einsetzt.
              Entdecken Sie die Vielfalt der lokalen Lebensmittelproduktion und genießen Sie die hochwertigen Produkte, die unsere Region zu bieten hat.
              Auf FrischVomFeld können Sie:
              Die Frische und Qualität der lokalen Produkte genießen, die mit Leidenschaft und Sorgfalt hergestellt werden.
              Die Geschichten und Menschen hinter den Produkten kennenlernen und die lokale Lebensmittelproduktion unterstützen.
              Bequem von zu Hause aus bestellen und Ihre frischen Produkte direkt an Ihre Haustür geliefert bekommen.
              Registrieren Sie sich jetzt, um den Geschmack von FrischVomFeld zu erleben!

          </span>
          <span id="toggleLink" class="toggle-link">Mehr anzeigen</span>
        </p>
      </div>
    <div class="button-row">
        <% if(req.me) { %>
            <% if(req.me.isVendor) { %>
                <a href="/addProduct" class="cto-buttons-bottom">Produkte hinzufügen</a>
            <% } %>
        <% } else { %>
            <a href="/signup" class="cto-buttons-bottom">Anbieter werden</a>
        <% } %>
    </div>




</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>

<style>
  #textToShow {
    max-width: 600px; /* Anpassung für größere Bildschirme */
    margin: 0 auto; /* Zentriert den Container */
    padding: 0 10px; /* Fügt Padding hinzu, damit der Text nicht direkt am Rand ist */
  }

  .clickable-text p {
    text-align: justify; /* Für einen gleichmäßigen Textfluss */
  }

  .toggle-link {
    color: blue; /* Beispielfarbe für den Link */
    cursor: pointer; /* Zeigt an, dass es sich um einen klickbaren Link handelt */
    text-decoration: underline; /* Unterstreicht den Link */
  }

  @media (max-width: 768px) {
    #textToShow {
      max-width: 100%; /* Nimmt auf kleineren Bildschirmen die gesamte Breite ein */
      padding: 0 20px; /* Größeres Padding für kleinere Bildschirme */
    }
  }
</style>

