<div id="produkte" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/produkte.less</em>, <em>assets/js/pages/produkte.page.js</em>, and <em>api/controllers/view-produkte.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
