<div class="container">
    <form action="/product/<%=product.id%>/uploadImage" method="post" enctype="multipart/form-data">
        <div>
            <div class="form-group mb-3">
                <label class="col-form-label-lg">Bild für <%= product.name%></label>
                <input type="file" class="form-control" name="image" id="imageInput">
                <span class="error-message" id="imageError"></span>
            </div>
        </div>
        <button type="submit" class="green-button mt-4" id="submitButton" disabled>Hochladen</button>
        <a href="/product/<%=product.id%>" class="green-button mt-4 ml-4">weiter ohne Bild</a>
    </form>
</div>


<script>
  document.addEventListener('DOMContentLoaded', function() {
    var imageInput = document.getElementById('imageInput');
    var submitButton = document.getElementById('submitButton');
    var imageError = document.getElementById('imageError');

    function updateButtonState() {
      if (imageInput.value) {
        submitButton.disabled = false;
        imageError.textContent = ''; // Clear any error message
      } else {
        submitButton.disabled = true;
        imageError.textContent = 'Bitte wählen Sie ein Bild vor dem Hochladen aus.'; // Display error message
      }
    }

    // Initial check
    updateButtonState();

    // Event listener for changes in the input field
    imageInput.addEventListener('change', updateButtonState);
  });
</script>

<style>
  .error-message {
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
  }

</style>

