<div class="container mt-5">
  <!-- Button for editing a new product -->
  <a href="/product" class="btn btn-custom btn-block">neues Produkt bearbeiten</a>
  <!-- Button for editing a new category -->
  <a href="/category" class="btn btn-custom btn-block">neue Kategorie bearbeiten</a>
  <!-- Button for user management -->
  <a href="/usermanagement" class="btn btn-custom btn-block">Usermanagement</a>
  <!-- Button for reading feedback -->
  <a href="evaluation" class="btn btn-custom btn-block">Feedback lesen</a>
</div>