<div class="container mt-5 ">
  <!-- Button for editing a new product -->
  <a href="/addCategory" class="btn btn-custom btn-block w-25 ">Kategorie hinzufügen</a>
  <!-- Button for editing a new category -->
  <a href="/category" class="btn btn-custom btn-block  w-25">Kategorie bearbeiten</a>
  <!-- Button for user management -->
  <a href="/usermanagement" class="btn btn-custom btn-block  w-25">Usermanagement</a>
  <!-- Button for reading feedback -->
</div>
