<div class="container mt-5">
    <div class="d-flex flex-column align-items-center justify-content-center">
        <!-- Button for adding a new category -->
        <a href="/addCategory" class="btn btn-custom mb-2 w-25" style="min-width: 200px; ">Kategorie hinzufügen</a>
        <!-- Button for editing a category -->
        <a href="/category" class="btn btn-custom mb-2 w-25" style="min-width: 200px">Kategorie bearbeiten</a>
        <!-- Button for user management -->
        <a href="/usermanagement" class="btn btn-custom mb-2 w-25" style="min-width: 200px">Usermanagement</a>
        <!-- Additional buttons can be added here -->
    </div>
</div>
